* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: oswald;
    src: url(/Font/oswald-latin.ttf);
}
@font-face {
    font-family: montserrat_thin;
    src: url(/Font/montserrat-latin.ttf);
}


:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --Black: #000000;
  }

.primaryFont{
    font-family:montserrat_thin ;
}
.secondaryFont{
    font-family:montserrat_thin ;
}






.page3-ele .box:hover img {
    opacity: 0;
}


.text-stroke {
    -webkit-text-stroke:2px   var(--white); 
   
}

/* start */
/* hero section marquee animation */
.elem h1 {
    animation-name: marquee-anime;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 20px;

}

@keyframes marquee-anime {
    from {
        transform: translateX(0%);

    }

    to {
        transform: translateX(calc(-100% - 20px));

    }

}
/* hero section marquee animation */
/* end */


