* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: oswald;
    src: url(/Font/oswald-latin.ttf);
}

@font-face {
    font-family: montserrat_thin;
    src: url(/Font/montserrat-latin.ttf);
}




.colour60 {
    background: #121416;
    color: #c5c2c1;
}



.hind-light {
    font-family: "Hind", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.hind-regular {
    font-family: "Hind", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hind-medium {
    font-family: "Hind", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.hind-semibold {
    font-family: "Hind", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.hind-bold {
    font-family: "Hind", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.montserrat-light {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.montserrat-medium {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.montserrat-semibold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.montserrat-bold {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}



.page3-ele .box:hover img {
    opacity: 0;
}


.text-stroke {
    -webkit-text-stroke: 2px #ffff;

}

/* start */
/* hero section marquee animation */
.elem h1 {
    animation-name: marquee-anime;
    animation-duration: 8s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin-right: 20px;

}

@keyframes marquee-anime {
    from {
        transform: translateX(0%);

    }

    to {
        transform: translateX(calc(-100% - 20px));

    }

}

/* hero section marquee animation */
/* end */